* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
}
html {
    scroll-behavior: smooth;
}

                  /****************   280w   ******************/



 




/*************   ABOUT SECTION   *************/
.about-container {
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
}
.about-info h2 {
    padding-top: 2em;
}
.about-info h4 {
    text-align: center;
    color: #4c5053;
}
.about-info p {
    color: #4c5053;
    line-height: 1.5em;
    margin: 1.5em 1.5em 3em 1.5em;
}
.about-slider-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.about-carousel {
    width: 100%;
    height: 16em;
}
.about-carousel-cell {
    display: flex;
    justify-content: center;
    min-width: 100%;
    height: 16em;
}
.about-img {
    width: auto;
    height: 16em;
}
.flickity-page-dots {
    bottom: .5em;
  }
.flickity-page-dots .dot {
    width: 10px;
    height: 10px;
    opacity: 1;
    background: #e8e3dc8e;
    border-radius: 100%;
  }
.flickity-page-dots .dot.is-selected {
    background: #e8e3dc;
}
/**********   END ABOUT SECTION   **********/







/**********   SCREEN >360px   **********/
@media only screen and (min-width: 360px) {

    /**********   GENERAL   **********/
    h2 {
        font-size: 1.5em;
    }
    /**********   END GENERAL   **********/

    /**********   ABOUT   **********/
    .about-info p {
        color: #4c5053;
        line-height: 1.6em;
        margin: 1.5em 1.5em 3em 1.8em;
        font-size: 17px;
    }
    .about-img {
        width: auto;
        height: 18em;
    }
    /**********   END ABOUT   **********/
}
/**********   END SCREEN >360px   **********/







/**********   SCREEN >400px   **********/
@media only screen and (min-width: 400px) {
    /**********   ABOUT   **********/
    .about-img {
        height: 19.5em;
    }
    /**********   END ABOUT   **********/
}
/**********   END SCREEN >400px   **********/







/**********   SCREEN >500px   **********/
@media only screen and (min-width: 500px) {
    /**********   ABOUT   **********/
        .about {
            /*padding-bottom: 4em;*/
        }
        .about-slider-container {
            padding-bottom: 4em;
        }
    /**********   END ABOUT   **********/
}
/**********   END SCREEN >500px   **********/







/**********   SCREEN >600px   **********/
@media only screen and (min-width: 600px) {
    /**********   ABOUT   **********/
        .about-info h2 {
            padding-top: 0;
            text-align: left;
        }
        .about-info h4 {
            width: auto;
            text-align: left;
            color: #4c5053;
        }
        .about-info p {
            margin: 0;
            padding: 1.5em 0 0 0;
        }
        .about-slider-container {
            display: block;
            width: 100%;
            max-width: 1000px;
            height: auto;
            float: left;
            padding: 3em 2em;
            background-color: #f3f3f3;
        }
        .about-carousel {
            width: 50%;
            height: auto;
            min-height: 16em;
            float: left;
            padding-right: 1em;
        }
        .about-carousel-cell {
            display: flex;
            justify-content: center;
            width: auto;
            /*min-width: 250px;*/
            /*min-height: 16em;
            height: auto;*/
            height: 16em;
        }
        .about-img {
            width: auto;
            /*min-height: 16em;
            height: auto;*/
            height: 16em;
        }
    /**********   END ABOUT   **********/
}
/**********   END SCREEN >600px   **********/






/**********   SCREEN >800px   **********/
@media only screen and (min-width: 800px) {
    /**********   ABOUT   **********/
        .about-info h4 {
            font-size: 1.2em;
        }
        .about-info p {
            font-size: 1.2em;
            line-height: 1.6em;
        }
        .about-carousel {
            /*width: 325px;*/
            /*height: 20em;*/
        }
        .about-carousel-cell {
            /*min-width: 325px;*/
            height: 20em;
        }
        .about-img {
            height: 20em;
        }
    /**********   END ABOUT   **********/
}
/**********   END SCREEN >800px   **********/