* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
}
html {
    scroll-behavior: smooth;
}

                  /****************   280w   ******************/



 




/*************   ABOUT SECTION   *************/
.about-container {
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
}
.about-info h2 {
    padding-top: 2em;
}
.about-info h4 {
    text-align: center;
    color: #4c5053;
}
.about-info p {
    color: #4c5053;
    line-height: 1.5em;
    margin: 1.5em 1.5em 3em 1.5em;
}
.about-slider-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.about-carousel {
    width: 100%;
    height: 16em;
}
.about-carousel-cell {
    display: flex;
    justify-content: center;
    min-width: 100%;
    height: 16em;
}
.about-img {
    width: auto;
    height: 16em;
}
.flickity-page-dots {
    bottom: .5em;
  }
.flickity-page-dots .dot {
    width: 10px;
    height: 10px;
    opacity: 1;
    background: #e8e3dc8e;
    border-radius: 100%;
  }
.flickity-page-dots .dot.is-selected {
    background: #e8e3dc;
}
/**********   END ABOUT SECTION   **********/








